body {

    font-family: Arial, sans-serif;
    background: url('assets/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}


.container {
    width: 500px;
}


.card {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
}


.card-img {
    width: 100%;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin: 0 0 10px;
}

.card-content p {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}


